section {
    display: flex;
    flex-flow: column wrap;
}

.sec1 article {
    width: 100%;
}

.sec2 article {
    width: 100%;
}

.card1--img, .card2--img, .card3--img, .card4--img {
    background-size: cover;
    width: 100%;
}

.search-form a {
    margin: 0 5px;
    color: black;
    text-decoration: none;
    font-size: 0.7em;
    width: 10%;

}

.banner-img-logo {
    display: none;
}

.search {
    top: 50px;
}

header {
    padding: 0 50px;
    height: 5vh;
    font-size: 0.8em;
    align-items: center;
}

.banner {
    top: 40px
}

main {
    margin: 50px auto;
}
.footer--one>div:nth-child(1){
    align-self: center;
    margin-left:17%;
}
.footer--one>div:nth-child(2){
    margin-left:20%;
}


